.body {
    background-color: #0081aa;
    background-image: linear-gradient(266deg, #0081aa, #000 86%);
    background-clip: border-box;
}
.form{
    /* display: block; */
    width: 311px;
    height: 433px;
    /* margin: 10% 10% 10% 70%; */
    padding: 10px, 40px, 100px;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border: 0px solid #000;
    border-radius: 10px;
    background-color: #fff;
    background-clip: border-box;
}
.submit-button{
    display: block;
    padding : 8px;
    padding-left: 103px;
    padding-right: 110px;
    margin: auto;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    background-color: #0081aa;
    font-weight: 500;
    -o-object-fit: fill;
    object-fit: fill;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.field-label{
    margin-top: 10%;
    margin-bottom: 10%;
}

.text-field{
    display: block;
    margin-top: 40px;
    margin: auto;
    padding: 10px;
    padding-right: 80px;
    /* border-radius: 5px */
}
.text-field-2{
    display: block;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    padding-right: 80px;
    /* border-radius: 5px; */
    margin-bottom: 40px;
}

.heading{
    display: block;
    text-align: center;
    margin-bottom: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.link{
    font-size: 11.4px;
    padding-left: 25px;
    color: #000;
    font-weight: 400;
    
}

.text-block{
    position: relative;
    left: 20%;
    margin-top: 5%;
    font-style: italic;
}

.div-block{
    
    margin: -8px;
    display: flex;
    height: 35px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;

}
.heading-2{
    margin: 3px 0px 0px 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button{
    margin-top: 1px;
    margin-right: 5%;
    margin-bottom: 1px;
    padding: 6px;
    border-radius: 5px;
    background-color: #0081aa;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}



.sub{
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    margin-top: 10%;
    padding-bottom: 280px;

    
}