body{
  background-color: #EAEAEA;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.main-block{
  display:flex;
  justify-content: space-evenly;
  
}
.main-block-without-nav{
  padding-left: 250px;
  width: 100%;
}
.header-1{
    /* margin: auto; */
    background-color: #fff;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto';
}

.heading-1{

  margin-left: auto;
  margin-right: auto;
}


/* profile */
.dropdown {
  position: relative;
  display: inline-block;
  padding-right: 40px;
}
img{
  height: 20px;
  width: 20px;
  
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: 12px;
  z-index: 1;
  text-align: center;
  align-items: center;
  padding: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
}.dropdown .dropdown-content a{

  text-decoration: none;
  color:black;
}



.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00384A;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 15px 6px 15px 6px;
  text-decoration: none;
  font-size: 22x;
  font-weight: bold;
  color: #4d4d4d;
  display: block;
  background-color: white;
  margin: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
}
.sidenav i{
  padding: 6px 6px 6px 6px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  margin: 10px;
  margin-top: 45px;
  border-radius: 5px;
  text-align: center;
}
.sidenav h4{
  padding: 6px 6px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  margin: 10px;
  margin-top: 5px;
  border-radius: 5px;
  text-align: center;
}

.sidenav a:hover {
  background-color: rgb(230, 230, 230);
}

.elements{
  padding-top: 50%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.div-reward{
         
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
    border-radius: 5px;
}

.div-6{
max-width: 80%;
margin: 10px auto;
padding: 16px;
background: #F7F7F7;
  max-height: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 7px rgb(218, 218, 218);
}
.div-6 h1{
background: #00384A;
padding: 20px 0;
font-size: 140%;
  border-radius: 5px;
font-weight: 500;
text-align: center;
color: #fff;
margin: -16px -16px 16px -16px;
}

.div-6 p{
  font-size: 20px;
  font-weight: 400;
}