<body>
    <div class="main-block">
      <div class="sidenav">
        <i class="fa fa-user"></i>
        <h4>Username</h4>
        <div class="elements">
          <a href="/employee">Overview</a>
          <a href="/reward">Reward</a>
          <!-- <a href="#">Performance</a>
          <a href="#">Reward</a> -->
        </div>
      </div>
  
      <div class="main-block-without-nav">
        <header class="header-1">
          <h3 class="heading-1">
            Reward Management System - Employee Panel
          </h3>
          <div class="dropdown"><img src="../../assets/user-solid.svg" alt="img">
            <div class="dropdown-content">
              <a href="#"><i class="fa fa-user"> Profile</i></a>
              <br>
              <br>
              <a href="/"><i class="fa fa-sign-out"> Logout</i></a>
            </div>
          </div>
        </header>
  
  
  
        <div class="div-reward">
          <div class="div-6">
              <h1>Reward Reports</h1>
              <p>
                 Hey Username, your last reward you have received is $100 on 12 Dec 2020 on the basis of your last week performance.
              </p>
              </div>
      </div>
  </div>

</div>
  </body>