<body class="body">


    <div class="div-block">
        <h3 class="heading-2">Reward Mangement System</h3>
        <a href="/signup" class="button w-button">Sign Up</a>
    </div>
    <div class="sub">
        <img src="../../assets/signin.png" class="img" alt="iamges">
        <div class="w-form">
            <form action="#" class="form" id="wf-form-Sign-In" name="wf-form-Sign-In" data-name="Sign In">
                <h4 class="heading">Login Now</h4>
                <input type="email" class="text-field w-input" maxlength="256" name="Email-Address" data-name="Email Address" placeholder="Username or Email Address" id="Email-Adresss" required="">
                <input type="password" class="text-field-2 w-input" maxlength="256" name="Password" data-name="Password" placeholder="Passowrd" id="Password" required="">
                <a href="#" class="link">Forgot Password?</a>
                <input type="submit" value="Sign In" data-wait="Please wait.." class="submit-button w-button">
            </form>
        </div>
    </div>
    
</body>