body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
}



.heading-3{
    padding-top: 60px;
    padding-left: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-size: 20px;
}

.heading-4{
    padding-top: 60px;
    color: white;
    font-size: 14px;
}
.heading-5{
    padding-top: 60px;
    color: white;
    font-size: 14px;
}
.heading-6{
    padding-top: 60px;
    color: white;
    font-size: 14px;
}

.button-2{
    text-decoration: none;
    margin-top: 70px;
    margin-right: 40px;
    margin-bottom: 60px;
    padding: 16px 70px 35px;
    border-style: solid;
    border-width: 1px;
    border-color: #f8f8f8;
    border-radius: 5px;
    background-color: rbga(56,152,236,0);
    font-weight: 700;
    color: white;
    background-clip: border-box;
}

.heading-7{
    color: #fff;
    font-size: 60px;
    text-align: left;
}

.heading-8{
    font-size: 60px;
}
.heading-9{
    padding-left: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-size: 60px;
    line-height: 60px;
}
.paragraph{
    margin-left: 100px;
    padding-left: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 18px;

}
.button-3{
    margin-left: 100px;
    border-radius: 5px;
    background-color: #faff00;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 32px;
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
}
.div-block-2{
    border-radius: 0px;
    background-image: linear-gradient(140deg, #000 30%, #0081aa 100%, #fff);
    -o-object-fit: fill;
    object-fit: fill;
}
.heading-10{
    margin-top: 100px;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
}
.heading-11{
    margin-top: 0px;
    margin-bottom: 100px;
    padding-top: 0px;
    font-size: 5px;
    text-align: center;
}
.div-block-3{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:flex;
    height: auto;
    margin-bottom: 250px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: rgba(218, 152, 151,0);

}
.div-block-4{
    width: 350px;
    height: 450px;
    border-radius: 14px;
    background-color: #0081aa;
    text-align: center;
    box-shadow: 0px 10px 8px 0px rgb(158, 158, 158);
}
.div-block-5{
    background-color: #0081aa;
}
.div-block-6{
    background-color: #0081aa;
}
.heading-12{
    margin-top: 60px;
    margin-bottom: 20px;
    color: #fff;
}
.image{
    margin-top: 40px;
    text-align: center;
}
.paragraph-2{
    color: white;
}
.paragraph-4{
    color: white;
}
.paragraph-3{
    color: white;
}

.div-block-7{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 180px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.div-block-8{
    display: flex;
    height: 300px;
    justify-content: space-between;
    background-color: #161616;

}
.div-block-9{
    margin-top:40px;
    margin-left: 60px;
    text-align: center;
}
.paragraph-5{
    color: #ccc;
}
.heading-13{
    color: #ccc;
}
.heading-14{
    margin-top: 40px;
    color: #ccc;
}
.div-block-10{
    display: flex;
    margin-top: 40px;
    margin-right: 60px;
}

.heading-15{
    color: #ccc;
}
.heading-16{
    color: #ccc;
}
.heading-17{
    color: #ccc;
}
.div-block-11{
    padding-right: 20px;
    padding-left: 20px;
}
.image-2{
    margin-right: 100px;
    margin-bottom: 220px;
}

.header-2{
    display: flex;
    height: 150px;
    justify-content: space-between;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    background-color: hsla(0, 0, 100%, 0);
    background-clip: border-box;
    object-fit: scale-down;

}

@media only screen and (max-width: 1281px){
    .heading-3{

        font-size: 60px;

    }
}