<body class="body">
    <div class="div-block-2">
        <header class="header-2">
            <h4 class="heading-3">Reward Management System</h4>
            <h6 class="heading-4">Home</h6>
            <h6 class="heading-5">Features</h6>
            <h6 class="heading-6">About Us</h6>
            <a href="/login" class="button-2 w-button">Login</a>
        </header>
        <div class="div-block-7">
            <main class="main">
                <h1 class="heading-9"><strong>A Project-Based <br> Reward System</strong></h1>
                <p class="paragraph">A platform for corporate life. It provides you system for rewarding <br> the
                    employess of the company based on their project performance</p>
                <a href="/signup" class="button-3 w-button">Register Now</a>
            </main><img src="../../assets/project work Illustration.svg" alt="" class="image-2" loading="lazy">
        </div>
    </div>

    <div>
        <h4 class="heading-10">Features of Reward Mangement</h4>
        <h1 class="heading-11">
_______________________________________________________________________________________________________________
        </h1>

    </div>

    <div class="div-block-3">
        <div class="div-block-4"><img src="../../assets/work.svg" alt="" class="image" alt="img">
            <h4 class="heading-12">Live Project Deadline</h4>
            <p class="paragraph-2">You can find the live project <br>time as per project <br>and remaining time of
                ongoing project. <br>And project based notification before <br>your submission time.</p>
        </div>

        <div class="div-block-4"><img src="../../assets/online-community.svg" alt="" class="image" alt="img">
            <h4 class="heading-12">Live Project Deadline</h4>
            <p class="paragraph-3">You can find the live project <br>time as per project <br>and remaining time of
                ongoing project. <br>And project based notification before <br>your submission time.</p>
        </div>

        <div class="div-block-4"><img src="../../assets/revenue.svg" alt="" class="image" alt="img">
            <h4 class="heading-12">Live Project Deadline</h4>
            <p class="paragraph-4">You can find the live project <br>time as per project <br>and remaining time of
                ongoing project. <br>And project based notification before <br>your submission time.</p>
        </div>
    </div>

    <div class="div-block-8">
        <div class="div-block-9">
            <h3 class="heading-13">Reward Mangement System</h3>
            <p class="paragraph-5">A platform for corporate life. It provide you <br> system for rewarding the employees of the <br> company based on their project performance</p>

        </div>
        <div class="div-block-10">
            <div>
                <h5 class="heading-15">Contact Us <br><br><br>About Us <br><br><br>Terms &amp; Conditons <br><br><br>Privacy Policy</h5>

            </div>
            <div class="div-block-11">
                <h6 class="heading-16">|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|</h6>
            </div>
            <div>
                <h5 class="heading-17">
                    Facebook
                    <br><br><br>
                    Instagram
                    <br><br><br>
                    Twitter
                    <br><br><br>
                    Linkedin
                </h5>
            </div>
        </div>
    </div>

    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script> -->





</body>