<body>
    <div class="main-block">
        <div class="sidenav">
            <i class="fa fa-user"></i>
            <h4>Username</h4>
            <div class="elements">
                <a href="/user">Add Task</a>
                <a href="/usertask">View All Task</a>
               
            </div>
        </div>

        <div class="main-block-without-nav">
            <header class="header-1">
                <h3 class="heading-1">
                    Reward Management System - Employee Panel
                </h3>
                <div class="dropdown"><img src="../../assets/user-solid.svg" alt="img">
                    <div class="dropdown-content">
                        <a href="#"><i class="fa fa-user"> Profile</i></a>
                        <br>
                        <br>
                        <a href="/"><i class="fa fa-sign-out"> Logout</i></a>
                    </div>
                </div>
            </header>
            <div class="div-form">
                <div class="form-style-6">
                    <h1>User Form</h1>
                    <form>
                    <input type="text" name="field1" placeholder="Title" />
                    <select name="field2" class="select-field">
                        <option value="Appointment">Software</option>
                        <option value="Interview">Hardware</option>
                        <option value="Regarding a post">Network</option>
                    </select>
                    <textarea name="field3" placeholder="Description"></textarea>
                    <input type="submit" value="Send" />
                    </form>
                    </div>
            </div>
        </div>

    </div>
</body>