<body>
  <div class="main-block">
    <div class="sidenav">
      <i class="fa fa-user"></i>
      <h4>Username</h4>
      <div class="elements">
        <a href="/manager">View all employee </a>
        <a href="/task">View all task</a>
        <a href="/counter"> Task Count</a>
        <!-- <a href="#">Finished task</a> -->
      </div>
    </div>
  
      <div class="main-block-without-nav">
        <header class="header-1">
          <h3 class="heading-1">
            Reward Management System - Manager Panel
          </h3>
          <div class="dropdown"><img src="../../assets/user-solid.svg" alt="img">
            <div class="dropdown-content">
              <a href="#"><i class="fa fa-user"> Profile</i></a>
              <br>
              <br>
              <a href="/"><i class="fa fa-sign-out"> Logout</i></a>
            </div>
          </div>
        </header>
  
  
  
        <div class="div-table">
          <table class="table-1">
            <!-- <caption>Project Overview</caption> -->
            <tr><th>Task Overview</th></tr>
            <tr class="t1-heading">
              <th>Task id</th>
              <th>Task Name</th>
              <th>Task Description</th>
              <th>Created By</th>
              <th>Task Type</th>
            </tr>
  
            <tr>
              <td>1001</td>
              <td>bug-1</td>
              <td>pending</td>
              <td>20-11-2102</td>
              <td></td>
            </tr>
            <tr>
              <td>1001</td>
              <td>bug-1</td>
              <td>pending</td>
              <td>20-11-2102</td>
              <td></td>
            </tr>
            <tr>
              <td>1001</td>
              <td>bug-1</td>
              <td>pending</td>
              <td>20-11-2102</td>
              <td></td>
            </tr>
            <tr>
              <td>1001</td>
              <td>bug-1</td>
              <td>pending</td>
              <td>20-11-2102</td>
              <td></td>
            </tr>
            <tr>
              <td>1001</td>
              <td>bug-1</td>
              <td>pending</td>
              <td>20-11-2102</td>
              <td></td>
            </tr>
            <tr>
              <td>1001</td>
              <td>bug-1</td>
              <td>pending</td>
              <td>20-11-2102</td>
              <td></td>
            </tr>
            <tr>
              <td>1001</td>
              <td>bug-1</td>
              <td>pending</td>
              <td>20-11-2102</td>
              <td></td>
            </tr>
  
  
          </table>
        </div>
      </div>
  
  
  
      <!-- <div class="div-table-2">
      <table class="table-2">
        <caption>Upcoming Projects</caption>
        <tr class="t1-heading">
          <th>Project id</th>
          <th>Project Name</th>
          <th>Status</th>
          <th>Due Date</th>
          <th>Remarks</th>
        </tr>
        <tr>
          <td>1001</td>
          <td>bug-1</td>
          <td>pending</td>
          <td>20-11-2102</td>
          <td></td>
        </tr>
        <tr>
          <td>1001</td>
          <td>bug-1</td>
          <td>pending</td>
          <td>20-11-2102</td>
          <td></td>
        </tr>
        <tr>
          <td>1001</td>
          <td>bug-1</td>
          <td>pending</td>
          <td>20-11-2102</td>
          <td></td>
        </tr>
        <tr>
          <td>1001</td>
          <td>bug-1</td>
          <td>pending</td>
          <td>20-11-2102</td>
          <td></td>
        </tr>
        <tr>
          <td>1001</td>
          <td>bug-1</td>
          <td>pending</td>
          <td>20-11-2102</td>
          <td></td>
        </tr>
        <tr>
          <td>1001</td>
          <td>bug-1</td>
          <td>pending</td>
          <td>20-11-2102</td>
          <td></td>
        </tr>
        <tr>
          <td>1001</td>
          <td>bug-1</td>
          <td>pending</td>
          <td>20-11-2102</td>
          <td></td>
        </tr>
      </table>
      <table class="table-3">
        <caption>Pending Project</caption>
        <tr class="t1-heading">
          <th>Project id</th>
          <th>Project Name</th>
          <th>Status</th>
          <th>Due Date</th>
          <th>Remarks</th>
        </tr>
        <tr>
          <td>1001</td>
          <td>bug-1</td>
          <td>pending</td>
          <td>20-11-2102</td>
          <td></td>
        </tr>
        <tr>
          <td>1001</td>
          <td>bug-1</td>
          <td>pending</td>
          <td>20-11-2102</td>
          <td></td>
        </tr>
        <tr>
          <td>1001</td>
          <td>bug-1</td>
          <td>pending</td>
          <td>20-11-2102</td>
          <td></td>
        </tr>
        <tr>
          <td>1001</td>
          <td>bug-1</td>
          <td>pending</td>
          <td>20-11-2102</td>
          <td></td>
        </tr>
        <tr>
          <td>1001</td>
          <td>bug-1</td>
          <td>pending</td>
          <td>20-11-2102</td>
          <td></td>
        </tr>
        <tr>
          <td>1001</td>
          <td>bug-1</td>
          <td>pending</td>
          <td>20-11-2102</td>
          <td></td>
        </tr>
        <tr>
          <td>1001</td>
          <td>bug-1</td>
          <td>pending</td>
          <td>20-11-2102</td>
          <td></td>
        </tr>
      </table>
    </div> -->
  
    </div>
  </body>