body{
    background-color: #EAEAEA;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }
  
  .main-block{
    display:flex;
    justify-content: space-evenly;
    
  }
  .main-block-without-nav{
    padding-left: 250px;
    width: 100%;
  }
  .header-1{
      /* margin: auto; */
      background-color: #fff;
      display: flex;
      text-align: center;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto';
  }
  
  .heading-1{
  
    margin-left: auto;
    margin-right: auto;
  }
  
  
  /* profile */
  .dropdown {
    position: relative;
    display: inline-block;
    padding-right: 40px;
  }
  img{
    height: 20px;
    width: 20px;
    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 12px;
    z-index: 1;
    text-align: center;
    align-items: center;
    padding: 5px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }.dropdown .dropdown-content a{
  
    text-decoration: none;
    color:black;
  }
  
  /* table */
  
  .div-table{
    padding-top: 100px;
    border-radius: 15px;
    
  
  }
  
  .table-1{
    border-collapse: inherit;
    box-shadow: 0px 5px 6px 0px rgb(92, 92, 92);
    border-radius: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  caption{
    background-color: #00384A;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    font-weight: 700;
    box-shadow: 0px 0px 5px 0px rgb(92, 92, 92);
  }
  .t1-heading{
  
      background-color:rgba(0, 0, 0, 0.74);
      color: rgb(255, 255, 255);
      
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-radius: 15px;
    
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  /* .div-table-2{
    padding-top: 100px;
    border-radius: 15px;
    display: flex;
    
  } */
  
  
  /* .table-2{
    border-collapse: inherit;
    box-shadow: 0px 5px 6px 0px rgb(92, 92, 92);
    border-radius: 15px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    
  }
  .table-3{
    border-collapse: inherit;
    box-shadow: 0px 5px 6px 0px rgb(92, 92, 92);
    border-radius: 15px;
    width: 40%;
    
    margin-left: auto;
    margin-right: auto;
  }
  .table-2 td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
    border-radius: 15px;
    
  }
  .table-3 td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
    border-radius: 15px;
    
  } */
  
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #00384A;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 15px 6px 15px 6px;
    text-decoration: none;
    font-size: 22x;
    font-weight: bold;
    color: #4d4d4d;
    display: block;
    background-color: white;
    margin: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
  }
  .sidenav i{
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    margin: 10px;
    margin-top: 45px;
    border-radius: 5px;
    text-align: center;
  }
  .sidenav h4{
    padding: 6px 6px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    margin: 10px;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
  }
  
  .sidenav a:hover {
    background-color: rgb(230, 230, 230);
  }
  
  .elements{
    padding-top: 50%;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }